---
layout: blog
title: Documents
group: navigation
tags : [blog, posts, post]
css:
js:
keywords:
permalink: /docs.html
---
{% include JB/setup %}
<link rel="stylesheet" href="{{ BASE_PATH }}/assets/css/documents.css">
<div id="documents-div">
{% for document in site.static_files %}
    {% if document.path contains 'assets/documents/' %}
    <div id="documents-container">
    {% assign docpath = document.path | split: "/" %}
    <a href="{{ site.baseurl }}{{ document.path }}"
      class="
        {% for subpath in docpath %}
          {% if forloop.index0 == 3 %}
            {{ subpath }}
          {% endif %}
        {% endfor %}
        " />
      <button type="button" class="btn btn-primary btn-lg btn-block doc-buttons">
        {{document.basename}}
      </button>
    </a>
    </br></br>
    </div>
  {% endif %}
{% endfor %}
</div>

